@model IEnumerable<FinalExamProject.Models.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageName)
            <br />
            <a href="@Url.Action("Details", "Images", new { id=item.ImageId})">
                <img src="~/Pictures/@(item.ImageId + item.ImageExtension)" class="imageSizing" />

            </a>
        </td>
    </tr>
}

</table>
