@{
    ViewBag.Title = "About WUL";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>As explained on our index site, we strive to establish an online community, purely focused around ugly lamps.</p>
<p>Our vision for our final project, has both image uploading, lamp registration, like counters, author crediting, and last, but not least, we hope to offer prizes..</p>
