@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    WUL<br />
    Amagerbrogade 100
    2300 København S<br />
    <abbr title="Phone">Phone:</abbr>
    32 15 15 15
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@WUL.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@WUL.com</a>
</address>