@{
    ViewBag.Title = "WUL";
}

<div class="jumbotron">
    <h1>Worlds Ugliest Lamps </h1>
    <p class="lead">at WUL, we are set out to find the most repulsive, terrible, most ugliest lamps in existence</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upload your own image!</h2>
        <p>
            At WUL, you have the option to create entries, to show off the ugly lamps you come across. Furthermore, you have the option to upload your
            own pictures, and submit these with your lamp entry. 
        </p>
        <p><a class="btn btn-default" href="/Images/Create">Upload your picture! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register your image to a lamp entry!</h2>
        <p>
            When you have uploaded an image, you can register that image, to a lamp entry, and share it with the world!
        </p>
        <p><a class="btn btn-default" href="/Lamps/Create">Register your image as a lamp entry! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Like the lamps!</h2>
        <p>It is now possible for visitors to the site, to add a like on the lamps that they approve!</p>
        <p><a class="btn btn-default" href="/Lamps/Index">View lamps! &raquo;</a></p>
    </div>
</div>